.moviesFilters {
  background-color: #394867;
  color: #fff;
  padding: 0.75rem;
  width: 100%;
  grid-area: 1 / 1 / span 1 / span 1;
  border-radius: 3px;
  height: max-content;
}

@media screen and (min-width: 768px) {
  .moviesFilters {
    grid-area: 1 / 2 / span 1 / span 1;
  }
}

.moviesFilters h3 {
  font-size: 1.5rem;
}

.moviesFilters div:first-of-type {
  margin-bottom: 0.5rem;
}

.moviesFilters label {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.moviesFilters input {
  padding: 4px;
}

.moviesFilters select {
  padding: 4px;
}
