.detail {
  overflow: hidden;
  border: none !important;
}

.detail__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.detail__text span {
  font-weight: bold;
  display: block;
}

.detail__text {
  margin-bottom: 1rem;
}

.detail__actions {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.detail__actions > .remove-btn {
  color: blue;
  font-size: 0.875rem;
  border: none;
  background: none;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 1rem;
}
