.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modalDialog {
  position: fixed;
  width: 100%;
  max-height: 95%;
  z-index: 999;
  top: 5%;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .modalDialog {
    width: 750px;
    left: calc(50% - 750px / 2);
  }
}
