.movie {
  color: #fff;
  background-color: #000 !important;
  border: none !important;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.movie img {
  transition: all 200ms ease-out;
  height: 100%;
}

.movieOverlay {
  transition: all 200ms ease-out;
  visibility: hidden;
}

.movie:hover .movieOverlay {
  visibility: visible;
}

.movie:hover img {
  opacity: 0.4;
}

.movie p {
  margin-bottom: 0.5rem;
}
